*.exe
Debug/ExampleDSP.ilk
*.pdb
ExampleDSP.opensdf
*.sln
ExampleDSP.suo
*.sdf
*.tlog
ExampleDSP/Debug/ExampleDSP.exe.intermediate.manifest
*.manifest
ExampleDSP/Debug/ExampleDSP.lastbuildstate
*.res
ExampleDSP/Debug/ExampleDSP.obj
*.log
ExampleDSP/Debug/ExampleDSP.log
*.pch
ExampleDSP/Debug/ExampleDSP.vcxprojResolveAssemblyReference.cache
*.obj
ExampleDSP/Debug/ExampleDSP_manifest.rc
*.idb
ExampleDSP/ExampleDSP.aps
*.rc
ExampleDSP/ExampleDSP.vcxproj.filters
*.vcxproj
ExampleDSP/ExampleDSP.vcxproj.user
*.txt
ExampleDSP/res/ExampleDSP.ico
*.rc2
ExampleDSP/res/ExampleDSPDoc.ico
*.bmp
ipch/exampledsp-db443f58/exampledsp-8d453dbf.ipch